<html>

<head>
  <title>Reddit Clone</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="app.js"></script>
</head>

<ui-view></ui-view>
<body ng-app="redditClone" ng-controller="MainCtrl">
  <form ng-submit="addPost()">
    <input type="text" placeholder="Title" ng-model="title"></input>
    <br>
    <input type="text" placeholder="Link" ng-model="link"></input>
    <br>
    <button type="submit">Post</button>
  </form>

  <div ng-repeat="post in posts | orderBy:'-upvotes'">
    <button ng-click="incrementUpvotes(post)">^</button>
    <a ng-show="post.link" href="{{post.link}}">
      {{post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
    - upvotes: {{post.upvotes}}
  </div>

<script type="text/ng-template" id="/home.html">
  <div class="page-header">
    <h1>Reddit Clone</h1>
  </div>
  <body ng-app="redditClone">
  <h3><p>Add a Link</h3></p>
</script>

</body>
</html>
